/* CSS Document */
.winputfilediv 
{
    width: auto;
}
.winputfile-panel, .winputfile-panel *
{
	margin:0; border:0; padding:0;
}
.winputfile-panel, .winputfile-panel:active
{
	background:url(images/1.png) 0px 0px no-repeat;
	height: 26px;
	line-height:26px;
	padding-left:5px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#192940;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    cursor: pointer;
}
.winputfile-text, .winputfile-text:active 
{
	background:url(images/2.png) 0px 0px repeat-x;
	color:#192940;
	float:left;
	padding:0 10px 0 10px;
	width:auto;
	text-align:center;
	cursor: pointer;
}
.winputfile-bg3, .winputfile-bg3:active
{
	float:left;
	background:url(images/3.png) 0px 0px  no-repeat;
	width:5px;
	height:26px;
	color:#192940;
}
.winputfile-file-name
{
	float:left;
	padding: 9px 5px 10px 5px;
	cursor:default;
	color:#192940;
    width: 151px;
    line-height: 16px;
    border: 1px solid #ABADB3;
    overflow: hidden;
    height: 16px;
    font-size: 13px;
    text-overflow: ellipsis;
    white-space: nowrap;   
}
.winputfile-panel-hover
{
	background:url(images/1.png) 0px -26px no-repeat;
}
.winputfile-panel-hover .winputfile-text
{
	background:url(images/2.png) 0px -26px repeat-x;
}
.winputfile-panel-hover .winputfile-bg3
{
	background:url(images/3.png) 0px -26px  no-repeat;
}