.wselect-hasfilter ul { position:relative; top:2px }
.wselect-filter { float:left; margin-right:10px; font-size:11px }
.wselect-filter input { width:100px; font-size:10px; margin-left:5px; height:15px; padding:2px; border:1px solid #CDCDCD; -webkit-appearance:textfield; -webkit-box-sizing:content-box; }
