.wspinbutton
{
    margin: 0;
    padding: 0;
    text-align: right;
	padding: 8px 5px 9px 5px;
}

.wspinbutton-button
{
    cursor: pointer;
    padding: 0;
    margin: 0;
    background: url(../images/spin-button.png) transparent;
    border: none;
    width: 16px;
    height: 37px;
    display: inline-block;
    zoom: 0;
    *display: inline;
    *margin-top: 1px;
    vertical-align: top;
}

.wspinbutton-button.up
{
    background: url(../images/spin-up.png) transparent;
}

.wspinbutton-button.down
{
    background: url(../images/spin-down.png) transparent;
}

